test
alert_logevent
alert_webhook
appsbrowser
introspection_generator_addon
launcher
learned
legacy
sample_app
search
splunk_archiver
SplunkForwarder
splunk_gdi
splunk_httpinput
splunk_instrumentation
splunk_internal_metrics
SplunkLightForwarder
splunk_metrics_workspace
splunk_monitoring_console
user-prefs
